<div style = "display: flex, flex-direction:column">
    <div class="w-64 flex items-center justify-center">
        <h1>Post Information</h1>
    </div>
    <br />
    <%= link_to "View All Posts", posts_path %>
    <br />
    <br />

    <p class="font-bold"></p>

    <%= form_for @post do |f| %>
        <%= f.label :body, "Post Content:" %><br />
        <%= f.text_field :body %><br />
        <%= f.label :body, "Post Content:" %><br />
        <%= f.text_field :author %><br />
        <%= f.submit%>
    <% end %>

    <br />
    <p class="font-bold text-sm">Comments:</p>
        <% @post.comments.each do |comment| %>
        <br/>
            <%= form_for comment do |f| %>
                <%= f.text_field :body %>
                <%= f.submit%>
            <% end %>
        <% end %>

        <br/>
        
        <%# add a comment %>
        <%= form_for @comment, url: post_comments_path(@post) do |f| %>
          <%= f.text_field :body %><br />
          <%= f.submit %>
        <% end %>
</div>